@import "tailwindcss";

@layer base {
    html {
        scroll-behavior: smooth;
    }
}

body {
    cursor: none;
    font-family: 'Times New Roman', Times, serif;
}

a {
    cursor: none; 
}

button{
    cursor: none;
}



.text-content {
    background: linear-gradient(90deg, #ffffff, #7e2a2a, #a82626);
    background-size: 300% 100%;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    animation: gradient-text 6s linear infinite;
}

@keyframes gradient-text {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}


.particles-container {
    position: fixed; /* Fixes the particles in place */
    width: 100%;
    height: 100%;
    z-index: 0; /* Ensures particles stay behind other content */
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
}

.custom-cursor {
    animation: pulse 1.5s infinite;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.fade-in {
    animation: fadeIn 0.5s ease-in-out forwards;
}
